*{
    margin: 0;
    padding: 0;
    font-family: "lato", "sans-serif";
}

/* header */

header{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #3233f2;
}

.logo{
    height: 15rem;
}
.logInSpan{
    width: max-content;
    height: auto;
    display: flex;
    position: relative;
    left: 30%;
}
.logIn{
    width: 6rem;
    height: auto;
    border: 1px solid #c1c1c1;
    padding: 0.5rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    border-radius: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.logIn:hover{
    background-color: #3233f2;
    color: #fff;
    transition: 0.3s;
    border: 1px solid #c1c1c1;
    cursor: pointer;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%; 
}
.navBar li{
    list-style: none;;
}
.navBar a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 800;
}
.navBar a:hover{
    border-bottom: 2px solid #3233f2;
    cursor: pointer;
    transition: 0.2s;
}

/* footer */
.footer{
    width: 100%;
    height: max-content;
    background-color: #3233f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
}
.footerContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFF;

}
.spanFooter{
    display: flex;
    flex-direction: column;
}
.spanFooter p{
    font-size: 1.3rem;
    text-decoration: underline;
    font-weight: 800;
    margin-bottom: .5rem;
}
.spanFooter a{
    text-decoration: none;
    color:#FFF;
    margin-bottom: .25rem;
}
.footerP{
    color: #c1c1c1;
    text-align: center;
    background-color: #000;
    width: 100%;
    height: 2rem;
}
.footerIMG{
    width: 8rem;
    height: 8rem;
    }

/* home */

.bannerHome{
    width: 100%;
    height: 25rem;
    background-image:url('/resources/img/bannerTest.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainTitle{
    color: #FFF;
    font-size: 7rem;
    margin-top: 3rem;
    text-shadow: 2px 2px 4px #000000;
}
.mainParrafo{
    color: #FFF;
    font-size: 3rem;
    margin-top: 3rem;
    text-shadow: 2px 2px 4px #000000;
}
.mainHome{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f2f2f2;
}
.mainNews{
    width: 70%;
    height: max-content;
}

.news{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF  ;
    box-shadow: 5px 5px 10px #c1c1c1;
    margin-top: 1rem;
}
.newTitle{
    color:#8c8c8c;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 20px;
    text-underline-offset: .5rem;
    
}
.newsP{
    width: 80%;
    color: #8c8c8c;
    line-height: 1.2rem;
    font-size: 1.2rem;
}
.newsImg{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.noticiasPeques{
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    text-align: center;
    border: 2px solid #a1a1a1;
    margin-top: 1rem;
}
.noticiasPeques a{
    text-decoration: none;
    width: 100%;
    color: #000;
}
.noticiasPeques h2{
    width: 100%;
    height: 2rem;
    background-color: red;
    color: #FFF;
}
.pequeNumero{
    font-size: 6rem;
}
/* CALENDARIO */
.mainCalendar{
    width: 100%;
}
.containerTitle{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #3233f2;
    margin-bottom: 1rem;
}
.title{
    font-size: 5rem;
    margin: 0 2rem;
}
.TitleImg{
    width: 8rem;
    height: max-content;
    object-fit: cover;
}
.calendarIntro{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    margin-bottom: 2rem;
}
.calendarIntro h2{
    font-size: 1.5rem;
    width: max-content;
    margin-bottom: 1rem;
}
.calendarIntro p{
    width: 70%;
}
.calendarContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendarEvent{
    width:35%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px #c1c1c1;
}
.eventLogo{
    width: 8rem;
    height: max-content;
    object-fit: cover;
}
.calendarEvent h3{
    margin: .5rem 0;
}
.calendarEvent h4{
    margin: .5rem 0;
}
.calendarEvent h5{
    margin: .5rem 0;
}

/* CONTACTO */
.mainContacto{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer{
    width: 50%;
    height: 30rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.formContainer label{
    width: 100%;
}
.formContainer input{
    width: 100%;
    border: none;
    border-bottom:2px solid #000;
    margin-top: 1rem;
}
.formContainer button{
    margin-top: 2rem;
}




