<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituciones|AATA</title>
</head>
<body>
    <header>HEADER</header>
    <main>INSTITUCIONES</main>
    <footer>FOOTER</footer>
</body>
</html>