<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="shortcut icon" href="/resources/img/logoaata.png" type="image/x-icon">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    <title>AATA</title>
    <meta name="AATA" content="Asociacion argentina de tiradores con arco"></meta>
    <meta keywords ="AATA asociacion argentina tiradores con arco y flecha"></meta>
</head>
<body>
    <header class="header">
        <span class="logInSpan">
            <a class="logIn" href="#">Registrarse</a>
            <a class="logIn" href="#">Iniciar Sesion</a>
        </span>
        <div>
            <a href="/"><img class="logo" src="/resources/img/logoaata.png" alt="logo aata"></a>
        </div>
        <nav class="navBar">
            <li><a class="linkNav" href="/calendario">CALENDARIO</a></li>
            <li><a class="linkNav" href="/contacto">CONTACTO</a></li>
            <li><a class="linkNav" href="/imagenes">GALERIA DE IMAGENES</a></li>
            <li><a class="linkNav" href="/instituciones">INSTITUCIONES</a></li>
            <li><a class="linkNav" href="/">HOME</a></li>
            <li><a class="linkNav" href="/reglamento">REGLAMENTOS</a></li>
            <li><a class="linkNav" href="/torneos">TORNEOS</a></li>
        </nav>
    </header>
    <main>RECORDS</main>
    <footer class="footer">
        <span class="footerContainer">
            <a href="/"><img class="footerIMG" src="/resources/img/logoaata.png" alt="Logo AATA"></a>
            <span class="spanFooter">
                <p class="spanP">Quienes somos?</p>
                <a class="spanA" href="/contacto">Ubicacion</a>
                <a class="spanA" href="/contacto">Contacto</a>
            </span>
            <span class="spanFooter">
                <p class="spanP">Legales</p>
                <a class="spanA" href="/legales">Terminos y condiciones</a>
                <a class="spanA" href="/legales">Politica de privacidad</a>
                <a class="spanA" href="/legales">Politica de Cookies</a>
                <a class="spanA" href="/legales">Descargo de responsabilidad</a>
            </span>
        </span>
        <p class="footerP">Todos los derechos reservados - AATA - Asociacion Argentina de Tiradores con Arco.</p>
            </footer>
</body>
</html>